:root{
    --accent: #0d6efd;
    scroll-behavior:smooth;
  }
  body{ padding-top: 72px; margin-top: -15px;}
  .shadow-soft{box-shadow:0 10px 30px rgba(0,0,0,.06)}
  .rounded-2xl{border-radius:1rem}
  .section{padding: 72px 0}
  .hero{background:linear-gradient(180deg, rgba(13,110,253,.05), transparent),
         radial-gradient(1000px 500px at 80% -20%, rgba(13,110,253,.08), transparent)}
  .avatar{
width:250px;
height:250px;           /* supaya bulatnya konsisten */
overflow:hidden;
border-radius:50%;
border:4px solid #fff;
box-shadow:0 6px 20px rgba(0,0,0,.08);
}

.avatar img{
width:100%;
height:100%;
object-fit:cover;
transition:transform .4s ease;
}

.section-hero {
    padding: 40px;
}

.avatar:hover img{
transform:scale(1.2);
}

  .tag{border:1px solid rgba(0,0,0,.08);padding:.25rem .5rem;border-radius:999px}
  .timeline{position:relative}
  .timeline::before{content:"";position:absolute;left:20px;top:0;bottom:0;width:2px;background:rgba(0,0,0,.1)}
  .timeline-item{position:relative;padding-left:3.5rem}
  .timeline-item::before{content:"";position:absolute;left:12px;top:.35rem;width:16px;height:16px;border-radius:50%;background:#fff;border:3px solid var(--accent)}
  .project-card img{aspect-ratio:16/9;object-fit:cover}
  .btn-ghost{background:#fff;border:1px solid rgba(0,0,0,.08)}
  .form-control, .form-select{border-radius:.75rem}
  .filter-btn.active{background:var(--accent);color:#fff}
  .back-to-top{position:fixed;right:16px;bottom:16px;z-index:1030;display:none}
  footer a{color:inherit}
  .kbd{border:1px solid rgba(0,0,0,.15);border-bottom-width:2px;padding:.1rem .35rem;border-radius:.4rem;font-family:ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;font-size:.8rem}
